body{
    position: relative;
    margin: 1% 1% 1% 1%;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}
header h1 a {
    color: midnightblue;
    text-decoration-line: none;

}
header h1 a:hover{
    color: red;

}
.post-entry{
    background-color: #e9e8da;
    position: relative;
    margin: 2% 5% 3% 5%;
    border-bottom-width: 10px;
    border: black;
}

.title{
    color: black;
    text-decoration-line: none;
}
.title:hover{
    color: coral;
}